@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap');
* {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#menu-side {
    width: 65%;
    padding: 20px 40px;
    border-right: 1px solid #ccc;
}


#cart {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px 30px;
    
}

.cart-list-item {
    display: flex;
    flex-direction: row;
    align-items: center ;
    margin-bottom: 15px;
}

.cart-desc {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    flex: 1;
}

.cart-desc-name {
    font-weight: 800;
}


.cart-img {
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 0 10px;
    width: 70px;

}

.cart-img img {
    width: 70px;
}

h2 {
    margin-bottom: 20px;
}

#list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid orangered;
    border-radius: 10px;
    overflow: hidden;
}


.item-img {
    display: flex;
    justify-content: center;
    align-items: center ;
    border-bottom: 1px solid orangered;
    height: 12vw;
    background-color: rgba(245,245,245,255);
}

.item-img img {
    max-width: 100%;
    max-height: 100%;
}

.item-desc {
    display: flex;
    flex-direction: column;
    height: 9vw;
}

.item-name {
    margin-top: 10px;
    font-size: 1.35vw;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.item-price {
    font-size: 1.3vw;
    margin-left: 10px;
    margin-bottom: 10px;
}

.add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.qty {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.qty .btn{
  width: 2vw;
  height: 2.5vw;
  border-radius: 10px;
  font-size: 1.3vw;
  margin: 5px 2px;
}

.btn:hover{
    cursor: pointer;
}

.count {
  width: 3.5vw;
  height: 2.5vw;
  border: 1px solid orangered;
  border-radius: 10px;
  font-size: 1.2vw;

}

.blue {
  background-color: orangered;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.orange-bar {
  width: 100%;
  background-color: orangered;
  color: white;
  text-align: center;
  font-size: 1.3vw;
  font-weight: 500;
}


.total-n-tax {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-weight: 700;
}

.empty {
    flex: 1;
}
.total-n-tax-desc {
    display: flex;
    justify-content: left;
    
}

.total-all {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    border-top: 1px solid #ccc;
}

@media (max-width: 1100px) {
    #menu-side {
        width:60%;
    
    }
    #cart {
        width: 40%;
        
    }
    
    #list-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    #menu-side {
        width: 100%;
        padding: 20px 40px;
        border-right: 0px solid #ccc;
    
    }
    #cart {
        width: 100%;
        padding: 20px 30px;
        
    }

    #list-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-name {
        font-size: 1.9vw;
    }
    
    .item-price {
        font-size: 1.8vw;
    }

    .qty .btn{
        font-size: 2vw;
      }
      
      .count {
        font-size: 2vw;
      }

      
    .orange-bar {
        font-size: 1.8vw;
      }
}

@media (max-width: 768px) {
    #list-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-name {
        font-size: 2.5vw;
    }
    
    .item-price {
        font-size: 2.4vw;
    }


    .qty .btn{
        width: 3vw;
        height: 4vw;
        font-size: 2.4vw;
    }
    
    .count {
        width: 5vw;
        height: 4vw;
        font-size: 2.4vw;
    }

    
    .orange-bar {
        font-size: 2.2vw;
    }

}
