body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: orangered;
    color: white;

}


#board {
    background-image: url('img/Pixel Cities.gif'); 
    background-size:cover;
    background-repeat: no-repeat; /* Tambahkan ini untuk menghindari pengulangan gambar */
    border-radius: 20px;
    box-shadow: 0 0 10px 10px yellow;
}
